[Unit]
Description=MushMeet.com
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/jdoe/mushmeet.com/serve.sh
Restart=on-failure
PIDFile=/tmp/mushmeet.com.pid

[Install]
WantedBy=multi-user.target