[Unit]
Description=MushMeet.com
After=network-online.target networking.service
Wants=network-online.target networking.service

[Service]
Type=forking
WorkingDirectory=/home/jdoe/mushmeet.com
ExecStart=uvicorn main:app --port 80 --host 0.0.0.0

[Install]
WantedBy=multi-user.target