[Unit]
Description=MushMeet.com
After=network-online.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/home/jdoe/mushmeet.com
RuntimeDirectory=/home/jdoe/mushmeet.com
ExecStart=/home/jdoe/mushmeet.com/serve.sh
Restart=always
KillMode=process
PIDFile=/tmp/mushmeet.com.pid

[Install]
WantedBy=multi-user.target